@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Ubuntu');


body {
    margin:0;
    font-family: "Arial", sans-serif;
    background: #0e1a7c;
    opacity: 0.85
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;

}

header {
    height: 1000px;
    background: /*url(mcdonalds.jpg);*/
        background-position: left;

}

header nav {
    background:#ffffff;
    height:68px;
    box-shadow:0 2px 3px rgb(0,0,0,.25);
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}

header nav ul {
    margin:0;
    padding:0;
    padding-right: 800px;
    list-style:none;
    float:right;
    display:flex;
}

header nav ul li a {
    float:left;
    line-height: 62px;
    padding:0 18px;
    text-decoration: none;
    color:#000000;
    opacity:1;
    transition:opacity 0.25s;
}

header nav ul li a:hover {
    opacity: 0.5;
}

#label {
    display: block;
    float: left;
    padding-left: 5px;
    padding-bottom: 20px;
    opacity: 1;
    transition:opacity 0.005s;
    margin:0 0 0 5px;
    z-index: -5;
}

#label:hover {
    opacity: 0.5;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    font-size: 100px;
    background-color: #ff0;
    position: fixed;
    width:100%;
    top:0;
    transition: top 0.2s ease-in-out;
}

p
{
			background-color:#425cf4;
			margin: 3%;
			padding: 3%;
			font-family: 'Roboto Condensed', sans-serif;
			color: black;
            font-size: 20px;
}
h2 {
    margin:0;
    color:white;

}

p1 {
    background: white;
}


.nav-up {
    top: -68px;
}

.out {
    width: 100%;
    height: 1000px;
    background: url(mcdonalds.jpg) no-repeat;
    background-position: top;
    z-index: -1;
    position:absolute;
    top:0;
}
.out2 {
    width: 100%;
    height: 2000px;
    background-position: top;
    z-index: -1;
    position:absolute;
    top:0;
}
.this-div-kills-browsers {
    height: 1000px;
}


